@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "List Of All Users";
}
<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>List Of All Users</h4>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th style="color:aliceblue">@Html.DisplayNameFor(model => model.FullName)</th>
                    <th style="color:aliceblue">@Html.DisplayNameFor(model => model.UserName)</th>
                    <th style="color:aliceblue">@Html.DisplayNameFor(model => model.Email)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle" style="color:aliceblue">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td class="align-middle" style="color:aliceblue">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td class="align-middle" style="color:aliceblue; width:300px">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

